
.cod_categoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    border-radius: 5px;
    background-color: #DEDEDE;
    border: 1px solid #CCC;
    font-family: Helvetica;
}

.nome_carro{
    font-size: 12px;
}
