.create_car_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
}
.create_car_container img{
    width: 1000px;
    
}